# .NET
**/bin/
**/obj/

# Node
node_modules/

# VS Code
.vscode/

# Logs
*.log

# # Local development config
# appsettings.Development.json

# appsettings.json inside the backend project
SmartSpend.Backend/appsettings.json

#package.json and package-lock.json
/package.json
/package-lock.json