* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.login-container {
  display: flex;
  height: 100vh;
  width: 100%;
}


.login-left {
  flex: 1;
  background: linear-gradient(135deg, #2f80ed, #56ccf2);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.brand {
  margin-bottom: 40px;
  text-align: center;
}

.login-image {
  width: 80%;
  max-width: 400px;
}

.floating{
    animation: float 4s ease-in-out infinite;

}
@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0);
    }
}
.login-right {
  flex: 1;
  background: #f8f9fc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  width: 350px;
  background: white;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
}

.login-box h2 {
  margin-bottom: 10px;
}

.login-box p {
  margin-bottom: 20px;
  color: gray;
}

.login-box input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.login-btn {
  width: 100%;
  padding: 12px;
  background: #2f80ed;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}

.login-btn:hover {
  background: #1c5ed6;
}

.signup-text {
  margin-top: 15px;
  text-align: center;
}

.signup-text span {
  color: #2f80ed;
  cursor: pointer;
}


